<header>
		<span>Signets</span>
	<input type="text">
	<nav id="main-nav-bar">
		<ul>
			<li>{{#link-to 'index'}}Home{{/link-to}}</li>
			{{!-- <li>{{#link-to 'tags'}}Tags{{/link-to}}</li> --}}
			<li>{{#link-to 'bookmarks'}}Bookmarks{{/link-to}}</li>
			<li>{{#link-to 'about'}}About{{/link-to}}</li>
		</ul>
	</nav>
</header>

<section id="page">
	{{outlet}}
</section>

<footer>
	<strike>footer</strike> foobar!
</footer>
