<header>
	<nav>
		{{#link-to 'index'}}Home{{/link-to}} |
		{{#link-to 'about'}}About{{/link-to}}
	</nav>
</header>

<page>
	{{outlet}}
</page>

<footer>
	<p><strike>footer</strike> foobar!</p>
</footer>
