
$primary-color: #168cd7;
$second-color:  #0d66a0;

$logo-height: 2em;

$border-width: 0.5em;
$border-radius: 0px;

button {
	border: none;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.6);
	color: #eee;

	&:hover {
		background-color: rgba(0, 0, 0, 0.4);
		color: #eee;
	}
	&:active {
		background-color: rgba(0, 0, 0, 0.8);
		color: #fff;
	}
}

.bookmarks {
	margin-left: 10em;
	margin-right: 10em;
	padding: 0;
	background-color: #eee;
	border-radius: $border-radius;

	list-style: none;

	flex: 1;

	.bookmark {
		margin:  $border-width;
		padding-top: 1em;
		background-color: #fff;
		border-radius: $border-radius;

		height: 6em;


		background-image: url(http://www.pageresource.com/wallpapers/wallpaper/landscape-fantasy_701087.jpg);
		background-size: 100%;
		background-position-y: 100%;

		.ribbon {
			margin-left: 2em;
			margin-right: -0.8em;
			background-color: #168cd7;
			padding-left: $border-width;
			padding-right: $border-width;

			box-shadow: -0.5em 0.5em 0 0 rgba(0,0,0,0.3);

			div > * {
				vertical-align: middle;
			}

			display: flex;
			flex-wrap: no-wrap;
			justify-content: space-between;
			align-items: center;

			svg {
				height: $logo-height;
				width: $logo-height * 2.4;

				margin-right: 1em;

				fill: $second-color;

				circle.inner {
					fill: $primary-color;
				}

				.star {
					fill: #eee;
				}
			}
		}
	}

	.new-bookmark {
		@extend .bookmark;

		height: 3.5em;

		background-image: none;
		background-color: #555;

		.new-ribbon {
			@extend .ribbon;

			background-color: #fff;

			svg {
				fill: #ccc;

				circle.inner {
					fill: #eee;
				}
				.star {
					fill: #fff;
				}
			}
		}
	}
}
