$logo-height: 3.3em;

$primary-color: #168cd7;
$second-color:  #0d66a0;

$text-color:      #fff;

header {
	padding: 0;
	padding-left:  0.5em;
	padding-right: 0.5em;

	font-size: 18px;
	color: $text-color;
	background-color: $primary-color;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	box-shadow:         0 0.5em 0 0 #eee;

	input {
		font-size: 18px;
		width: 15em;
		border-radius: 4px;
		border: none;
		background-color: $second-color;
		padding: 0.5em;
	}

	a {
		color: $text-color;
		text-decoration: none;
		border-radius: 4px;
		padding: 0.5em;
		padding-left: 1em;
		padding-right: 1em;


		&:visited {
			color: $text-color;
		}
		&:hover {
			color: $text-color;
			background-color: $second-color;
		}
	}
}

@media all and (max-width: 500px) {
	header {
		flex-direction: column;
	}
}

#logo {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	svg {
		height: $logo-height;
		width: $logo-height * 2.4;

		fill: $second-color;
	}

	circle.inner {
		fill: $primary-color;
	}

	.star {
		fill: $text-color;
	}

	span {
		margin-left: 0.5em;
	}
}

#main-nav-bar {
	display: inline;
	li {
		display: inline;
	}
}
