$primary-color: #fff;
$second-color:  #eee;

$text-color:    #444;

body {
	margin: 0;
	background-color: $primary-color;
	color: $text-color;

	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 15px;
	line-height: 21px;


	div.ember-view {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		align-items: stretch;

		min-height: 100vh;
	}
}

a {
	color: $text-color;

	&:visited {
		color: $text-color;
	}
	&:hover {
		color: lighten($text-color, 10%);
	}
}
